# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: akatsuki777
# "service" is the name of this project. This will also be added to your AWS resource names.
service: user-service

useDotenv: true

provider:
  name: aws
  runtime: nodejs18.x
  versionFunctions: false
  stage: "dev"
  region: eu-central-1
  httpApi:
    cors: true
  # SNS Topic
  environment:
    SNS_TOPIC: { Ref: CustomerTopic }
    # SNS_TOPIC: ${self:custom.snsTopic} #! FOR LOCAL TESTING. REMOVE THIS FOR LIVE
    NOTIFY_TOPIC:
      "Fn::ImportValue": "notifySvcArn"
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "sns:Publish"
      Resource:
        - !Ref CustomerTopic
        - "Fn::ImportValue": "notifySvcArn"

custom:
  stage: "dev"
  serverless-offline:
    httpPort: 4000
    lambdaPort: 4002
  # snsTopic: ${env:SNS_TOPIC} #! FOR LOCAL TESTING. REMOVE THIS FOR LIVE

#! When deploying to prod change dist --> app
functions:
  signup:
    handler: app/handler.SignUp
    events:
      - httpApi:
          path: /signup
          method: post

  login:
    handler: app/handler.Login
    events:
      - httpApi:
          path: /login
          method: post

  verify:
    handler: app/handler.Verify
    events:
      - httpApi:
          path: /verify
          method: post

  get-verification-code:
    handler: app/handler.GetVerificationCode
    events:
      - httpApi:
          path: /verify
          method: get

  create-profile:
    handler: app/handler.CreateProfile
    events:
      - httpApi:
          path: /user
          method: post

  edit-profile:
    handler: app/handler.EditProfile
    events:
      - httpApi:
          path: /user
          method: put

  get-profile:
    handler: app/handler.GetProfile
    events:
      - httpApi:
          path: /user
          method: get

  create-cart:
    handler: app/handler.CreateCart
    timeout: 20
    events:
      - httpApi:
          path: /cart
          method: post

  edit-cart:
    handler: app/handler.EditCart
    timeout: 20
    events:
      - httpApi:
          path: /cart/{id}
          method: put

  get-cart:
    handler: app/handler.GetCart
    timeout: 20
    events:
      - httpApi:
          path: /cart
          method: get

  delete-cart:
    handler: app/handler.DeleteCart
    timeout: 20
    events:
      - httpApi:
          path: /cart/{id}
          method: delete

  collect-payment:
    handler: app/handler.CollectPayment
    timeout: 20
    events:
      - httpApi:
          path: /collect-payment
          method: post

  place-order:
    handler: app/handler.PlaceOrder
    timeout: 20
    events:
      - httpApi:
          path: /order
          method: post

  joinSellerProgram:
    handler: app/handler.JoinSellerProgram
    events:
      - httpApi:
          path: /join
          method: post

  getPaymentMethod:
    handler: app/handler.GetPaymentMethod
    events:
      - httpApi:
          path: /payment-methods
          method: get

  editPaymentMethod:
    handler: app/handler.EditPaymentMethod
    events:
      - httpApi:
          path: /payment-methods/{id}
          method: put

plugins:
  - serverless-offline
  - serverless-plugin-optimize

package:
  individually: true

resources:
  Resources:
    CustomerTopic:
      Type: AWS::SNS::Topic
      Properties:
        DisplayName: "customer sns topic description"
        TopicName: CustomerTopic

  Outputs:
    CustomerTopicInfo:
      Description: customer-topic
      Value: !Ref CustomerTopic
      Export:
        Name: customer-topic
